html {
	min-height: 100%;
	/*Image only BG fallback*/
	background-image: url('http://thecodeplayer.com/uploads/media/gs.png');
	/*background = gradient + image pattern combo*/
	background-image: 
		linear-gradient(rgba(155, 89, 182, 0.2), rgba(196, 128, 0, 0.3)), 
		url('http://thecodeplayer.com/uploads/media/gs.png');
}

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

p.days {
    padding-left: 3px;
    text-align: center;
    word-spacing: 7.5px;
}

p.boxes {
    line-height: 0;
    text-align: center;
}

p.buttons {
    alignment-adjust: middle;
}


h1, h2 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
    box-shadow: 0px 2px 5px #888888;
}
h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8; 
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

/*<style>*/
table {
    width:100%;
}
table, th, td {
    border: 4px solid;
    border-collapse: collapse;
    box-shadow: 10px 10px 5px #888888;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#ClassTable tr:nth-child(even) {
    background-color:#decde0;
}
table#ClassTable tr:nth-child(odd) {
   background-color:#fff;
}
table#ClassTable th	{
    background-color: black;
    border: black;
    color: white;
}
hr.style-1 {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  border: solid 5px #c9c9c9;
  box-shadow: inset 0 0 0 1px #707070;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  border: solid 5px #969696;
}



/* Gradient transparent - color - transparent */
		


@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}
